<div class="media">

    <h1>
        <span class="glyphicon glyphicon-camera"></span>
        Media
    </h1>

    <div class="row">
        <div class="col-sm-3 col-md-4">

            <mt-status-list></mt-status-list>

        </div>
        <div class="col-sm-9 col-md-8">

            <div class="panel panel-primary">
                <div class="panel-body">

                    <mt-media-controls></mt-media-controls>

                    <div class="row media-list" ng-controller="mediaListCtrl">

                        <div class="col-sm-6 col-md-3 media-item" ng-repeat="item in media.list" ng-init="$extra = media.getItemExtraInfo(item)">

                            <div class="media-header">
                                <a
                                        title="{{item.UserModerated.UserName}}"
                                        ng-href="{{media.getUserUrl(item.UserModerated.UserName)}}"
                                        target="_blank">{{item.UserModerated.UserName}}</a>
                            </div>

                            <div class="thumbnail" >

                                <div
                                        class="checkbox glyphicon"
                                        ng-class="{'glyphicon-unchecked': !item.checked, 'glyphicon-check': item.checked}"
                                        ng-click="item.checked = !item.checked"></div>

                                <div class="glyphicon glyphicon-play" ng-if="item.ItemType == 'video'"></div>

                                <img
                                        ng-src="{{item.Media.ImageLowResolution.Url}}"
                                        ng-click="media.mediaClick($event, $index)" />

                                <div class="status status1 glyphicon {{$extra.clsStatus1}}" ng-click="media.statusClick(item.Id, $extra.status1Id)"></div>
                                <div class="status status2 glyphicon {{$extra.clsStatus2}}" ng-click="media.statusClick(item.Id, $extra.status2Id)"></div>

                            </div>

                        </div>

                    </div><!-- /.media-list -->

                </div><!-- /.panel-body -->

                <div class="panel-footer">
                    <div ng-controller="mediaPaginationCtrl">
                        <pagination
                                total-items="paginator.totalMedia"
                                page="paginator.page"
                                items-per-page="paginator.pageSize"
                                max-size="paginator.groupSize"
                                on-select-page="paginator.pageClick(page)"
                                class="pagination-sm"
                                boundary-links="true"
                                rotate="false"></pagination>
                    </div>
                </div>

            </div><!-- /.panel[ng-controller="mediaCtrl"] -->

        </div>
    </div>

</div>